<%- include('../partials/header') %>

<div class="container">
    <h1>Dealer Dashboard</h1>
    <br>
    <p>
        <a  href="/vehicles">Click Here to See Your Inventory</a>
        </p>
    <br>
    <p>
        <a  href="/vehicles/new">Click Here to Add a New  Vehicle</a>
        </p>
    <br>
    <p>
        <a  href="/offers">Click Here to See Your Offers</a>
        </p>
    <br>
    <p>
        <a  href="/requests">Check for Requests </a>
        </p>
    <br>
    <p>
        <a  href="/dealers/:id">Account Settings</a>
        </p>

        <a  href="/users/logout">Logout</a>
</div>


<%- include('../partials/footer') %>