<%- include('../partials/header') %>
<div class="container">
    <div id="root"  >
    </div>

</div>









<!--New Vehicle script (React Component) file   -->
<script type="text/jsx"  src="/components/NewVehicleForm.js"></script> 
<!--HTTP client CDN   -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- Babel CDN turns JSX, from NewVehicleForm.js file, into javascript -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>