<%- include('../partials/header') %>

<div class="container">
    <h1>Buyer Dashboard</h1>
    <br>
    <p>
        <a  href="/requests">Check On Your Request</a>
        </p>
    <br>
    <p>
        <a  href="/vehicles">Click Here to See Your Saved Vehicles</a>
        </p>
    <br>
    <p>
        <a  href="/vehicles/new">Create a New Vehicle</a>
        </p>
    <br>

    <p>
        <a  href="/buyers/:id">Account Settings</a>

        </p>
    <br>
    <a  href="/users/logout">Logout</a>
        </p>

</div>

<%- include('../partials/footer') %>